absl-py==0.10.0
blinker==1.4
brotlipy==0.7.0
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
configparser==5.0.0
cryptography==3.1.1
cycler==0.10.0
docker-pycreds==0.4.0
gitdb==4.0.5
gitpython==3.1.8
google-auth-oauthlib==0.4.1
google-auth==1.21.3
grpcio==1.31.0
idna==2.10
importlib-metadata==1.7.0
kiwisolver==1.2.0
markdown==3.2.2
matlab==0.1
matlabengineforpython==R2020a
matplotlib==3.3.1
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
numpy==1.19.1
oauthlib==3.1.0
olefile==0.46
pathtools==0.1.2
pillow==7.2.0
pip==20.2.2
promise==2.3
protobuf==3.13.0
psutil==5.7.2
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycparser==2.20
pyjwt==1.7.1
pyopenssl==19.1.0
pyparsing==2.4.7
pysocks==1.7.1
python-dateutil==2.8.1
pyyaml==5.3.1
requests-oauthlib==1.3.0
requests==2.24.0
rsa==4.6
sentry-sdk==0.18.0
setuptools==49.6.0.post20200814
shortuuid==1.0.1
six==1.15.0
smmap==3.0.4
subprocess32==3.5.4
tensorboard-plugin-wit==1.6.0
tensorboard==2.2.1
torch==1.6.0
torchvision==0.7.0
tornado==6.0.4
tqdm==4.49.0
urllib3==1.25.10
wandb==0.10.4
watchdog==0.10.3
werkzeug==1.0.1
wheel==0.35.1
win-inet-pton==1.1.0
wincertstore==0.2
zipp==3.1.0